article#about-wrapper
    h2.accented-header.about-header About Me
    section#introduction
        header
            h3.type-writer
                mark Hey! I'm Fr&oacute;&eth;i Karlsson
        p
            | I'm a fullstack developer from Iceland, but I've  been living in Sweden
            | since 2008. I'm currently working as a CTO and Co-Founder of a startup
            | called SpeakSum with some friends I met while studying computer science
            | at LTH.
        p
            | I've been writing websites since the age of 11, and I still spend most of
            | my waking hours working on various projects.
    section#interests
        header
            h3.type-writer
                mark My various interests
        p
            | Except for the development side of my hobbies, I also enjoy playing
            | the guitar, listening to audiobooks and working out.
        p
            | I used to be quite the fan of film making, so I think I'll indulge anyone
            | reading this in
            | !{' '}
            a(href='https://www.youtube.com/watch?v=WnNSIIQx4qk') possibly the coolest piece of media ever made.
    section#this-page
        header
            h3.type-writer
                mark What is this page?
        p
            | This page is mostly intended to be a host for my cv, but I also wanted
            | to play around with some css while I was at it. This page is completely
            | javascript free, but is built using pug and sass for the sake of
            | convenience.
        p
            | The page is built to work well with mobile devices, and to output a
            | print-friendly version of the cv in print mode. Just remember to set
            | margins to none and background graphics to on in the print settings.



