article#cv-wrapper
  header#cv-header
    .intro
      img(src='assets/portrait.jpg' alt='Fróði Karlsson')
      .name-and-occupation
        h1 Fr&oacute;&eth;i Karlsson
        h2 Fullstack Developer
    ul.header-ul
      li.header-li
        a(href='https://github.com/frodi-karlsson') Github
      li.header-li
        a(href='mailto:frodikarlsson@gmail.com') Email
      li.header-li
        a(href='https://www.linkedin.com/in/frodikarlsson') LinkedIn
  section#skills
    h2.accented-header Skills
    .skill-columns
      .skill-column
        h3 Hard Skills
        ul
          li Angular
          li React
          li
            span.type-writer.css-element CSS, HTML and Javascript!{' '}
          li Node.js
          li GCP, Azure
          li NoSQL
          li Docker, Kubernetes
          li CI/CD
      .skill-column
        h3 Soft Skills
        ul
          li Agile Development
          li Fluent English, native Swedish and Icelandic
          li Problem Solving
          li Identifying Customer Needs
  section.experience
    h2.accented-header Experience
    dl
      dt.experience-item-term
        h4 CTO, Co-Founder
        h4 SpeakSum
        h4 2020 - Present
      dd.experience-item-description
        p
          | I co-founded a startup that aims to increase online meeting
          | productivity with constructive data without sacrificing privacy.
        p
          | I am one of three main developers for the product, having
          | worked with everything from native Windows C++ apps to kubernetes.
        h5.description-header
          | Lessons learned
        p
          | Some of my biggest challenges have been to learn how to balance
          | the technical side of the product with the business side, and
          | how to balance speed of development with scalability.
      dt.experience-item-term
        h4 Web Developer
        h4 Freelance
        h4 2018 - Present
      dd.experience-item-description
        p
          | I&apos;ve worked on a variety of personal projects and freelance
          | for friends and family. Here are a couple of examples that are still up:
          ul
            li
              a(href='https://www.djass.com/') djass.com
            li
              a(href='https://www.karlolgeirsson.com/') karlolgeirsson.com
        h5.description-header
          | Lessons learned
        p
          | Here was the first time I learned how to gauge customer needs and
          | how to communicate with them to make sure I was delivering what they
          | wanted.
      dt.experience-item-term
        h4 Teaching Assistant
        h4 LTH
        h4 2020 - 2022
      dd.experience-item-description
        p
          | I&apos;ve been a teaching assistant for various programming courses
          | for Scala and Java at LTH, where I helped students with their
          | assignments and graded their work. I like to think I was pretty
          | good at it, and I enjoyed it a lot.
        h5.description-header
          | Lessons learned
        p
          | I learned a lot about how to communicate with people who are
          | struggling with a problem, and how to help them find the solution
          | themselves. Most of the time, people just need some confidence and
          | a little push in the right direction.
  section.experience
    h2.accented-header Education
    dl
      dt.experience-item-term
        h4
          | LTH, Datateknik
      dd.experience-item-description
        p
          | I&apos;m currently still technically studying computer science at Lund University.
          | I have however taken a break the last year to pour all my hours into SpeakSum, as I felt
          | that it was a more valuable use of my time. Now I feel confident in my skills in the
          | field, both technical and interpersonal, and want to expand my horizons further.
