article#cv-wrapper
  header#cv-header
    .intro
      img(src='https://media.licdn.com/dms/image/D4D03AQF6d9IgWMFdWw/profile-displayphoto-shrink_200_200/0/1680155770868?e=1704931200&v=beta&t=36HwyFbDLJ8x-SbQfCgHZav8V8JKKndHdo40GTPVFA0' alt='Fróði Karlsson')
      .name-and-occupation
        h1 Fr&oacute;&eth;i Karlsson
        h2 Fullstack Developer
      ul.header-ul
        li.header-li
          a(href='https://github.com/frodi-karlsson') Github
        li.header-li
          a(href='mailto:frodikarlsson@gmail.com') Email
        li.header-li
          a(href='https://www.linkedin.com/in/frodikarlsson') LinkedIn
  section#skills
    h2.accented-header Skills
    .skill-columns
      .skill-column
        h3 Hard Skills
        ul
          li Angular
          li React
          li
            span.type-writer.css-element CSS, HTML and Javascript!{' '}
          li Node.js
          li GCP, Azure
          li NoSQL
          li Docker, Kubernetes
          li CI/CD
      .skill-column
        h3 Soft Skills
        ul
          li Agile Development
          li Fluent English, native Swedish and Icelandic
          li Problem Solving
          li Identifying Customer Needs
  section.experience
    h2.accented-header Experience
    dl
      dt.experience-item-term
        h3 CTO, Co-Founder
        h4 2020 - Present
      dd.experience-item-description
        p
          | Co-founded a startup that aims to increase online meeting
          | productivity with constructive data without sacrificing privacy.
        p
          | I am one of three main developers for the product, having
          | worked with everything from native Windows C++ apps to kubernetes.
      dt.experience-item-term
        h3 Web Developer
        h4 2018 - Present
      dd.experience-item-description
        p
          | I&apos;ve worked on a variety of personal projects and freelance
          | for friends and family.
          br
          |               Here are a couple of examples that are still up:
          ul
            li
              a(href='https://www.djass.com/') djass.com
            li
              a(href='https://www.karlolgeirsson.com/') karlolgeirsson.com
          |               It&apos;s not much, but it&apos;s honest work.
      dt.experience-item-term
        h3 Teaching Assistant
        h4 2020 - 2022
      dd.experience-item-description
        p
          | I&apos;ve been a teaching assistant for various programming courses
          | for Scala and Java at LTH, where I helped students with their
          | assignments and graded their work. I like to think I was pretty
          | good at it, and I enjoyed it a lot.
  section.experience
    h2.accented-header Education
    dl
      dt.experience-item-term
        h3
          | LTH, Datateknik
          h4 2020 - 2023
      dd.experience-item-description
        p
          | I&apos;m currently still technically studying computer science at Lund University.
          | I have however taken a break the last year to pour all my hours into SpeakSum, as I felt
          | that it was a more valuable use of my time. Now I feel confident in my skills in the
          | field, both technical and interpersonal, and want to expand my horizons further.
