.tabdiv-container {
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 4fr 4fr;
    grid-template-rows: 1fr 14fr 1fr;
    height: 100%;
    width: calc(min(90%, 1000px));
    max-height: 90%;
    margin: 0;
    padding: 0;
}

.tab-content {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: $article-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow-y: scroll;
    overflow-y: overlay;
    overflow-x: hidden;

    @media print {
        grid-row-start: 1;
    }
}

.tab {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none;
}

#cv-tab {
    @import "cv.scss";
}

#about-tab {
    @import "about.scss";
}

input {
    display: none;
}

label {
    display: flex;
    align-self: end;
    justify-self: flex-end;
    height: fit-content;
    overflow: visible;
    text-align: center;
    min-width: 40px;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 10px 10px 0 0;
    background-color: $article-background-color;
    color: $text-color;
    transition: background-color 0.5s ease;
    user-select: none;

    @media print {
        display: none;
    }
}

label[for="tab-1"] {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

label[for="tab-2"] {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

input:not(:checked) + label {
    cursor: pointer;
    background-color: $accent-color;
    color: white;
}

#tab-1:checked ~ .tab-content {
    #cv-tab {
        display: flex;
    }
}

#tab-2:checked ~ .tab-content {
    #about-tab {
        display: flex;
    }
}
